@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669905460389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e652";
}

.icon-liuyan:before {
  content: "\e602";
}

.icon-welfare_2:before {
  content: "\e69e";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-fabu:before {
  content: "\e69b";
}

.icon-eyu:before {
  content: "\e619";
}

.icon-zhifeiji:before {
  content: "\e681";
}

.icon-jilu:before {
  content: "\e648";
}

.icon-anquan:before {
  content: "\e85c";
}

.icon-zuojiantou:before {
  content: "\e623";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-goumaipianhao:before {
  content: "\e7d3";
}

